<table width="100%" border="0">
  <tr>
    <td background="{$path_img}/tit_2.jpg" width="478" height="26" style="background-repeat:no-repeat;" class="table_align">
    	<div class="main_title">{$phrase.lostyourpassword}?</div></td>
  </tr>
  <tr>
    <td class="table_align">
    <div class="text">
	 {$phrase.enter_email_address}<br />
 	<form name=forgotpassword action="{$scriptpth}" method="post">
   		<input type="text" class="form" name="email" value="{$smarty.post.email}"> <span class="error">{$error_msg.email}</span><br />
   		<input type="submit" class="form" value="{$phrase.reset_password}" />
   		<input type="hidden" name="s" value="{$session.sessionhash}" />
		{$token}
   		<input type="hidden" name="do" value="addmember" />
   		<input type="hidden" name="password_md5" />
   		<input type="hidden" name="passwordconfirm_md5" />
   		<input type=hidden name=do value=lostpassword />
   	</form>
	</div>
    </td>
  </tr>
</table>
