
.overlay-bg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	cursor: pointer;
	z-index: 1000; /* high z-index */
	background: #000; /* fallback */
	background: rgba(0,0,0,0.75);
}
	.overlay-content {
		background: #fff;
		padding: 1%;
		width: 800px;
		position: relative;
		top: 15%;
		left: 50%;
		margin: 0 0 0 -400px; /* add negative left margin for half the width to center the div */
		cursor: default;
		border-radius: 4px;
		box-shadow: 0 0 5px rgba(0,0,0,0.9);
	}

	.close-btn {
		cursor: pointer;
	}
	.close-btn:hover {
		background: #05abe0;
	}

/* media query for most mobile devices */
@media only screen and (min-width: 0px) and (max-width: 480px){

	.overlay-content {
		width: 96%;
		margin: 0 2%;
		left: 0;
	}
}



