html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
p.content {line-height:20px;font-size:12px}
.number {font-size:24px;color:#666;font-weight:bold}
.opt:hover {border:1px solid #666}
.opt_details {margin:15px;display:none;color:#666}
.window_list li {line-height:16px;margin-bottom:10px;padding-left:15px;list-style:none;font-weight:bold;background:url(../images/bullet.jpg) no-repeat 0px 3px }
.window_list li a {font-size:12px;color:#666;text-decoration:none}
.popup_info {position:relative;overflow:hidden}
.popup_info ul {margin-left:25px}
.popup_info ul li {list-style:disc;line-height:18px}
body {
    line-height:1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
h1 { color:#000;font-size:16px;margin-bottom:5px}
h2 { color:#000;font-size:16px;margin-bottom:5px}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

.side_menu {margin-left:5px}
.side_menu li {text-transform:uppercase;font-size:11px;border-bottom:1px solid #0054a4;padding:5px 0 5px 12px; background:url(../images/rightbar_button.jpg) left no-repeat}
.side_menu li a {text-decoration:none;color:#0054a4}
#menu li {float:left;list-style:none;background:#487aac;color:#fff;padding:10px 30px;border-right:1px solid #fff;text-transform:uppercase}
#menu li:hover {background:#8c0043;color:#fff}
#menu li.selected {background:#8c0043;}
#menu li.pro{border:0;background:#D2232A;float:right;color:#fff;font-weight:bold}
#menu li.pro a {color:#fff}
#menu li a {color:#fff;text-decoration:none;font-size:12px;text-transform:uppercase}
#menu li ul.subMenu { position:absolute;z-index:9;margin-left:-30px;top:34px;background:#fff;display:none}
#menu li:hover ul.subMenu {display:block}
#menu li .subMenu li {padding:5px 5px 5px 20px; color:#000;float:none;border-bottom:1px solid #96a5d2; background:url(../images/butt-bullet.jpg) no-repeat 5px 9px }
#menu li .subMenu li a {color:#000}
#menu li .subMenu li.last {border-bottom:4px solid #0054a4}
#menu li .subMenu li.first {padding:15px 5px 5px 20px; background:url(../images/butt-bullet.jpg) no-repeat 5px 18px }
osition:absolute;}

td.table_num {color:#fff !important;font-weight:bold}
td.table_cont {color:#fff;font-size:9px}
.footer_links {border-top:6px solid #8c0043;
        		font-size:10px;text-align:center;margin-top:15px;text-transform:uppercase}
.footer_links a {color:#9098a1; text-decoration:none}
.page_container {position:relative;margin:0 auto;width:960px}

.testimonial {
    margin: 10px 0 0 0;
    background: #9ecefe;
    padding: 10px 50px;
    position: relative;
    font-family: Georgia, serif;
    color: #666;
    border-radius: 5px;
    font-style: italic;
    text-shadow: 0 1px 0 #9ecefe;
    background-image: linear-gradient(#9ecefe, #7fbefe);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9ecefe), to(#7fbefe));
    background-image: -webkit-linear-gradient(top, #9ecefe, #7fbefe);
    background-image:    -moz-linear-gradient(top, #9ecefe, #7fbefe);
    background-image:     -ms-linear-gradient(top, #9ecefe, #7fbefe);
    background-image:      -o-linear-gradient(top, #9ecefe, #7fbefe);
}

.testimonial:before, .testimonial:after {
    content: "\201C";
    position: absolute;
    font-size: 80px;
    line-height: 1;
    color: #999;
    font-style: normal;
}

.testimonial:before {
    top: 0;
    left: 10px;
}

.testimonial:after {
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #B7EDFF;
    margin: 0 0 0 25px;
}

.testimonial-author {
    margin: 0 0 0 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    text-align:left;
}

.testimonial-author span {
    font-size: 12px;
    color: #666;
}​